.container {
  width: 20rem;
  button {
    margin-left: 2rem;
  }
  input[type="text"] {
    padding: 0.5rem;
  }
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    text-align: left;
    list-style: none;
    background-color: gray;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    input[type="checkbox"] {
      width: 1.5rem;
      height: 1.5rem;
    }
    &.done {
      background-color: black;
      &::after {
        content: "";
        display: block;
        width: 95%;
        height: 2px;
        background-color: white;
        position: absolute;
      }
    }
  }
}
