.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  width: 30rem;
  height: fit-content;
  padding: 3rem;
  color: black;
}
.close_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: grid;
  place-content: center;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
}
