.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: white;
  margin: 0;
  li {
    list-style: none;
  }
}
