.row {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin: auto;
  span {
    position: relative;
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: black;
    background-color: gray;
    &.active {
      color: white;
      background-color: green;
    }
    &.active:not(:first-child)::before {
      content: "";
      position: absolute;
      width: 200%;
      right: 100%;
      top: 50%;
      transform: translate(1%, -50%);
      height: 0.5rem;
      background-color: green;
    }
  }
}
